<!-- begin:heading -->
<div class="heads" style="background: url(/img/toys/{{toyDetail._id}}_1.jpg) center center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> {{toyDetail.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- end:heading -->

<!-- begin:content -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">{{toyDetail.name}}</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <!-- begin:product-content -->
            <div class="col-md-offset-2 col-md-9 col-sm-9 single-item">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div id="itemsingle" class="carousel slide clearfix">

                            <div class="carousel-inner">
                                {{#repeat imageCount}}
                                <div class="item {{#compare @index "==" 0}}active{{/compare}}">
                                    <img src="/img/toys/{{toyDetail._id}}_{{#add @index 1}}{{/add}}.jpg" alt="slider detail dodolan manuk">
                                </div>
                                {{/repeat}}
                                <!-- <div class="item">
                                    <img src="/img/toys/{{toyDetail._id}}_2.jpg" alt="slider detail dodolan manuk">
                                </div>
                                <div class="item">
                                    <img src="/img/toys/{{toyDetail._id}}_3.jpg" alt="slider detail dodolan manuk">
                                </div> -->
                            </div>

                            <ol class="carousel-indicators">
                                {{#repeat imageCount}}
                                    <li data-target="#itemsingle" data-slide-to="{{@index}}" class="{{#compare @index "==" 0}}active{{/compare}}"><img src="/img/toys/{{toyDetail._id}}_{{add @index 1}}.jpg" class="img-responsive" alt="slider detail dodolan manuk"></li>
                                {{/repeat}}
                                <!-- <li data-target="#itemsingle" data-slide-to="0" class="active"><img src="/img/toys/{{toyDetail._id}}_1.jpg" class="img-responsive" alt="slider detail dodolan manuk"></li>
                                <li data-target="#itemsingle" data-slide-to="1" class=""><img src="/img/toys/{{toyDetail._id}}_2.jpg" class="img-responsive" alt="slider detail dodolan manuk"></li>
                                <li data-target="#itemsingle" data-slide-to="2" class=""><img src="/img/toys/{{toyDetail._id}}_3.jpg" class="img-responsive" alt="slider detail dodolan manuk"></li> -->
                            </ol>

                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <h3>{{toyDetail.name}}</h3>
<dl>
  <dt>Brand Name :</dt>
  <dd>{{toyDetail.brand}}</dd>
</dl>
<dl>
  <dt>Recommended Age Group : </dt>
  <dd>{{toyDetail.ageGroup}}</dd>
</dl>
<dl>
  <dt>Description:</dt>
  <dd>{{toyDetail.short_description}}</dd>
</dl>
<dl>
  <dt>Renting Duration:</dt>
  <dd>{{toyDetail.rent_duration}}</dd>
</dl>
<dl>
  <dt>Deposit :</dt>
  <dd>{{toyDetail.deposit}}</dd>
</dl>
<dl>
  <dt>In Stock:</dt>
  <dd>{{#compare toyDetail.stock "!=" 0}}<span class="label label-success">Yes<span>{{else}}<span class="label label-danger">No<span>{{/compare}}
</dd>
</dl>
     <h3 class="">Price : &#x20b9; {{toyDetail.price}}</h3>
                        <p><a href="/toys/order?id={{toyDetail._id}}" class="btn btn-green btn-large"{{#compare toyDetail.stock "==" 0}}disabled{{/compare}}><i class="icon-shopping-cart"></i> Place An Order</a></p>
                        
                    </div>
                </div>

                <!-- begin:tab -->
                 <div class="row">
                    <div class="col-md-12 product-tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#info" data-toggle="tab">More Info</a></li>
                            <li class=""><a href="#review" data-toggle="tab">Review</a></li>
                            <li class=""><a href="#related" data-toggle="tab">Related Items</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="info">
                                <p>{{toyDetail.long_description}}</p>
                            </div>
                            <div class="tab-pane fade" id="review">
                                <p>No Reviews For This</p>
                                <!--<p>Howdy, I'm in Section 2. Etiam luctus, tellus sed varius facilisis, turpis nisl mollis metus, adipiscing scelerisque felis dui ac lacus.
                                Etiam luctus, tellus sed varius facilisis, turpis nisl mollis metus, adipiscing scelerisque felis dui ac lacus.</p>-->
                            </div>  
                            <div class="tab-pane fade" id="related">
                                <div class="row">
                                    <ul class="thumbnails list-unstyled">
                                        <li class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <a href="/detail"><img src="/img/manuk.jpg" class="img-responsive" alt="detail dodolan manuk"></a>
                                            <div class="caption-details">
                                                <h5>Border Canary</h5>
                                                <span class="price">$200</span>
                                            </div>
                                        </div>
                                        </li>
                                        <li class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <a href="/detail"><img src="/img/manuk.jpg" class="img-responsive" alt="detail dodolan manuk"></a>
                                            <div class="caption-details">
                                                <h5>Border Canary</h5>
                                                <span class="price">$200</span>
                                            </div>
                                        </div>
                                        </li>
                                        <li class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <a href="/detail"><img src="/img/manuk.jpg" class="img-responsive" alt="detail dodolan manuk"></a>
                                            <div class="caption-details">
                                                <h5>Border Canary</h5>
                                                <span class="price">$200</span>
                                            </div>
                                        </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
                <!-- end:tab -->
            </div>
            <!-- end:product-content -->

            <!-- begin:product-sidebar -->
            <!-- end:product-sidebar -->

        </div>
    </div>
</div>

