
<!-- begin:slider -->
    <div id="home">
      <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#home-slider" data-slide-to="0" class="active"></li>
          <li data-target="#home-slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active" style="background: url(img/img01.jpg);">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content">
                    <h2 class="animated fadeInUpBig text-center text-black">Navnirmitee</h2>
                    <p class="animated rollIn text-black text-center"><span class="text900">Innovative Toy Library</span> <br>We help becoming your kids smarter...<br><br><a href="/howItWorks" class="btn btn-green btn-lg">Know How  &raquo;</a></p>  
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="item" style="background: url(img/img02.png) center 20%;">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content text-center">
                  	<h3 class="animated fadeInLeftBig text-center" style="color: #000;">Toys are more than fun for kids</h3>
                    <p class="animated fadeInDownBig text-center">They are valuable tools to make your kid smart <br> They prepare him for skills needed to be an adult.<br><br></p>
					<a class="btn btn-green btn-lg animated fadeInRight" href="#">Learn more &raquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="item" style="background: url(img/img03.jpg) center 20%;">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content text-center">
                  	<h3 class="animated fadeInLeftBig text-center" style="color: rgb(1, 239, 96);">The more variety of toys he has.</h3>
                    <p class="animated fadeInDownBig text-center">The happier he is and more diverse his learning experience will be.  <br><br></p>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
        </div>
        <a class="left carousel-control" href="#home-slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#home-slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
        <div class="pattern"></div>
      </div>

    </div>
    <!-- end:slider -->
	
	<!-- begin:tagline -->	
	<!-- <div id="tagline">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <h2>Navnirmitee Smart Kids Library</h2>
					<p></p>
				</div>
			</div>
		</div>
    </div> -->
	<!-- end:tagline -->
	
	<!-- begin:featured -->
	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
						<h2>Speciality</h2>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-question-circle"></i>
						</div>
						<h3>What ?</h3>
                        <p style="font-size : 14px;">A toy rental service for all age groups.<br></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-hand-o-up"></i>
						</div>
						<h3>Why ?</h3>
                        <p style="font-size : 14px;">It has become hard to provide the appropriate toys to kids due to higher cost and wide range of options available.<br></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-lightbulb-o"></i>
						</div>
						<h3>How ?</h3>
                        <p style="font-size : 14px;">We provide toys based on selection of skills needs in particular age group.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:featured -->
	
	<!-- begin:catalogue -->
	<div id="catalogue">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
                    {{#if isLoggedIn}}
						<h2>Recommended Toys</h2>
						<p></p>
                    {{else}}
						<h2>Popular Toys</h2>
						<p></p>
                    {{/if}}
					</div>	
				</div>
			</div>
			<div class="row">
                {{#each toysList}}
				    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="thumbnail">
					        <div class="caption-img" style="background: url(/img/toys/{{_id}}_1.jpg);"></div>
					        <div class="caption-details">
						        <h3>{{name}}</h3>
						        <span class="price">&#x20b9; {{price}}</span>
					        </div>
                            <a href="/toys/detail?id={{_id}}"><div class="caption-link"><h3>{{short_description}}</h3>
                                    <h3>Skills Developed :<br>
                                    {{#each this.skills}}
                                        {{skill}}
                                        <br>
                                    {{/each}}
                            </h3>
                    </div></a>
					    </div>
				    </div>
                {{/each}}
			</div>
		</div>
	</div>
	<!-- end:catalogue -->	
	
	<!-- begin:testimoni -->
	<div id="testimoni">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testimoni-icon"><i class="fa fa-quote-left"></i></div>
					<h3>What Experts Say?</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="testi" class="carousel slide" data-ride="carousel">
				      <div class="carousel-inner">
				        <div class="item active">
				           <p class="testimoni-item">Toys are children's words and play is their language.</p>
							<h4>&#8212; GARRY L. LANDRETH, Play Therapy: The Art of the Relationship &#8212;</h4>
				        </div>
				        <div class="item">
                            <p class="testimoni-item">Based on my experience and expertise, children’s well-being improves when they are busy and active.  Play allows them to be in a mode of discovery and be free to be who they are at that moment in time.</p>
							<h4>&#8212; Dr. Jane Aronson, Director of Business and Product Development, Planetree &#8212;</h4>
				        </div>
				      </div>
				      <a class="left carousel-control" href="#testi" data-slide="prev">&lsaquo;</a>
				      <a class="right carousel-control" href="#testi" data-slide="next">&rsaquo;</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:testimoni -->
	
	<!-- begin:blog -->
	<!-- <div id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
						<h2>From Blog</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="blog-container">
						<div class="blog-date">
							<i class="fa fa-calendar"></i>
							<span class="meta-date">26</span>
							<span class="meta-month-year">MAR 2014</span>
						</div>
						<h3><a href="single.html">the post title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
						<p><a href="single.html" class="btn btn-green">Read more &raquo;</a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="blog-container">
						<div class="blog-date">
							<i class="fa fa-calendar"></i>
							<span class="meta-date">03</span>
							<span class="meta-month-year">FEB 2014</span>
						</div>
						<h3><a href="single.html">the post title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
						<p><a href="single.html" class="btn btn-green">Read more &raquo;</a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="blog-container">
						<div class="blog-date">
							<i class="fa fa-calendar"></i>
							<span class="meta-date">19</span>
							<span class="meta-month-year">JAN 2014</span>
						</div>
						<h3><a href="single.html">the post title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
						<p><a href="single.html" class="btn btn-green">Read more &raquo;</a></p>
					</div>
				</div>
				
			</div>
		</div>
    </div>-->
	<!-- end:blog -->
