
<!-- begin:slider -->
    <div id="home" class="nav_main_content">
      <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#home-slider" data-slide-to="0" class="active"></li>
          <li data-target="#home-slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active" style="background: url(img/img01.jpg);">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content">
                    <h2 class="animated fadeInUpBig text-center text-black">Ajab Gajab</h2>
                    <p class="animated rollIn text-black text-center"><span class="text900">Kids Library</span> <br>We help becoming your kids smarter...<br><br><a href="/howItWorks" class="btn btn-green btn-lg">Know How  &raquo;</a></p>  
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="item" style="background: url(img/img02.png) center 20%;">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content text-center">
                  	<h3 class="animated fadeInLeftBig text-center" style="color: #000;">Toys are more than fun for kids</h3>
                    <p class="animated fadeInDownBig text-center">They are valuable tools to make your kid smart <br> They prepare him for skills needed to be an adult.<br><br></p>
					<a class="btn btn-green btn-lg animated fadeInRight" href="#">Learn more &raquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="item" style="background: url(img/img03.jpg) center 20%;">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content text-center">
                  	<h3 class="animated fadeInLeftBig text-center" style="color: rgb(1, 239, 96);">The more variety of toys he has.</h3>
                    <p class="animated fadeInDownBig text-center">The happier he is and more diverse his learning experience will be.  <br><br></p>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
        </div>
        <a class="left carousel-control" href="#home-slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#home-slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
       <div class="pattern"></div>
      </div>

    </div>
    <!-- end:slider -->
	
	<!-- begin:tagline -->	
	<!-- <div id="tagline">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <h2>Navnirmitee Smart Kids Library</h2>
					<p></p>
				</div>
			</div>
		</div>
    </div> -->
	<!-- end:tagline -->
    <div id="_nav_discount_banner" class="nav_main_content">
      <div id="_nav_discount_slider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#_nav_discount_slider" data-slide-to="0" class="active"></li>
          <li data-target="#_nav_discount_slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active" style="background: url();">
              <div class="row">
                  <div class="col-md-12">
                      <img class="img-responsive" src="img/banner-25-pc.png"></img> 
                </div> 
            </div>
          </div>
          <div class="item" style="">
              <div class="row">
                      <img class="img-responsive" src="img/banner-50-pc.png"></img> 
              </div>
          </div>
          <!--<div class="item" style="background: url(img/img03.jpg) center 20%;">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content text-center">
                  	<h3 class="animated fadeInLeftBig text-center" style="color: rgb(1, 239, 96);">The more variety of toys he has.</h3>
                    <p class="animated fadeInDownBig text-center">The happier he is and more diverse his learning experience will be.  <br><br></p>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
        </div>
        <a class="left carousel-control hidden" href="#_nav_discount_slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control hidden" href="#_nav_discount_slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>

    </div>
	
	<!-- begin:featured -->
	<div id="featured" class="nav_main_content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
						<h2>Speciality</h2>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-question-circle"></i>
						</div>
						<h3>What ?</h3>
                        <p style="font-size : 14px;">A toy rental service for all age groups.<br></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-hand-o-up"></i>
						</div>
						<h3>Why ?</h3>
                        <p style="font-size : 14px;">It has become hard to provide the appropriate toys to kids due to higher cost and wide range of options available.<br></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-lightbulb-o"></i>
						</div>
						<h3>How ?</h3>
                        <p style="font-size : 14px;">We provide toys based on selection of skills needs in particular age group.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:featured -->
	
	<!-- begin:catalogue -->
	<div id="catalogue" class="nav_main_content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
                    {{#if isLoggedIn}}
						<h2>Recommended Toys</h2>
						<p></p>
                    {{else}}
						<h2>Popular Toys</h2>
						<p></p>
                    {{/if}}
					</div>	
				</div>
            </div>
            <div class="row">
                <div id="slider" class=" carousel carousel-showmanymoveone slide">
                    <!--<ol class="carousel-indicators">
                        <li data-target="#slider" data-slide-to="0" class="active"></li>
                        <li data-target="#slider" data-slide-to="1" class=""></li>
                    </ol>   -->
                    <div class="carousel-inner" style="padding-left: 0px;">
                        {{#each toysData.popularToys}}
                            <div class="item {{#compare @index "==" 0}}active{{/compare}}" style="padding-top=0px;">
                                <div class="col-md-4 col-sm-6 col-lg-3">

                                    <div class="thumbnail">
                                        <div class="caption-img" style="background: url(/img/toys/{{_id}}_1.jpg);"></div>
                                        <div class="caption-details">
                                            <h3>{{name}}</h3>
                                            <span class="price">₹ {{price}}</span>
                                        </div>
                                        <a href="/toys/detail?id={{_id}}"><div class="caption-link"><h3>{{short_description}}</h3>
                                                <h3>
                                                    Skills Developed :<br>
                                                    {{#each this.skills}}
                                                        {{skill}}<br>
                                                    {{/each}}
                                                </h3>
                                        </div></a>
                                    </div>
                                </div>
                            </div>

                        {{/each}}
                        <!-- <div class="item active" style="padding-top=0px;"> -->
                            <!-- <div class="row">-->
                            <!-- <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>1 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>2 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>3 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>4 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>5 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>6 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>7 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>8 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-top=0px;">
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail">
                                    <div class="caption-img" style="background: url(/img/toys/8cdbe165-b10e-486a-9b63-aad47e16f9b5_1.jpg);"></div>
                                    <div class="caption-details">
                                        <h3>10 Snail</h3>
                                        <span class="price">₹ 350</span>
                                    </div>
                                    <a href="/toys/detail?id=8cdbe165-b10e-486a-9b63-aad47e16f9b5"><div class="caption-link"><h3>Snail which has lights and mirror with it to be enjoyed by kids</h3>
                                            <h3>Skills Developed :<br>
                                                Gross Motor Skills
                                                <br>
                                                Engaging Child
                                                <br>
                                                Cause And Effect
                                                <br>
                                                Movement
                                                <br>
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- Carousel nav -->
                    <!-- <div id="slider-control"> 
                        <a class="left carousel-control" href="#slider" data-slide="prev"><img src="/img/arrow_left.png" alt="Left" class="img-responsive"></a>
                        <a class="right carousel-control" href="#slider" data-slide="next"><img src="/img/arrow_right.png" alt="Right" class="img-responsive"></a>
                    </div>-->
                    <a class="left carousel-control" href="#slider" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#slider" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>

                </div>

            </div>
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
						<h2>Our Toys</h2>
						<p></p>
					</div>	
				</div>
            </div>
            <div class="row confirm" style="text-align:left;">
                <div class="col-md-2 col-sm-4 hidden-xs">
                    <div class="row">
                        <h6 style="font-weight : bold;"> Age Group </h6>
                        <form class="nav_age_group_form hidden-xs">
                            {{#each toysData.filters.ageGroups}}
                                <fieldset>
                                    <label class="checkbox" style="font-weight : normal; margin : 5px 0px;">
                                        <input type="checkbox" name="ageGroup" value="{{add @index 0}}" {{#inArray ../toysData.filters.activeAge @index}}checked{{/inArray}}>&nbsp;{{this}}

                                        </label>
                                    </fieldset>
                                {{/each}}
                            </form>
                            <h6 style="font-weight : bold;"> Categories </h6>
                            <form class="nav_category_form hidden-xs">
                                {{#each toysData.filters.categories}}
                                    <fieldset>
                                        <label class="checkbox" style="font-weight : normal; margin : 5px 0px;">
                                            <input type="checkbox" name="category" value="{{add @index 0}}" {{#inArray ../toysData.filters.activeCategories @index}}checked{{/inArray}}>&nbsp;{{this}}
                                            </label>
                                        </fieldset>
                                    {{/each}}
                                </form>
                                <h6 style="font-weight : bold;"> Brands </h6>
                                <form class="nav_brand_form hidden-xs">
                                    {{#each toysData.filters.brands}}
                                        <fieldset>
                                            <label class="checkbox" style="font-weight : normal; margin : 5px 0px;">
                                                <input type="checkbox" name="brand" value="{{add @index 0}}" {{#inArray ../toysData.filters.activeBrands @index}}checked{{/inArray}}>&nbsp;{{this.name}}
                                                </label>
                                            </fieldset>
                                        {{/each}}
                                    </form>
                                    <h6 style="font-weight : bold;"> Skills </h6>
                                    <form class="nav_skills_form hidden-xs">
                                        {{#each toysData.filters.skills}}
                                            <fieldset>
                                                <label class="checkbox" style="font-weight : normal; margin : 5px 0px;">
                                                    <input type="checkbox" name="skill" value="{{add @index 0}}" {{#inArray ../toysData.filters.activeSkills @index}}checked{{/inArray}}>&nbsp;{{this.name}}
                                                    </label>
                                                </fieldset>
                                            {{/each}}
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-2 visible-xs">
                                            <a class="btn btn-green btn-md pull-left" style="" href="#" id="_nav_filter_btn"><i class="glyphicon glyphicon-filter"></i></a></div>
                                        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-1 control-label" style="margin-top : 5px" name="gender">Sort By</label>

                                        <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2">
                                            <select class="form-control nav_search_sorter" name="sortBy" placeholder="" required>
                                                {{#each toysData.sorters.sortLabels}}
                                                    <option value="{{@index}}" {{#compare @index "==" ../toysData.sorters.sortBy}}selected{{/compare}}>{{this}}</option>
                                                    {{/each}}

                                                </select>
                                            </div>
                                            <label class="col-xs-2 col-sm-3 col-md-2 col-lg-2 control-label" style="margin-top : 5px" name="gender">Sort Type</label>
                                            <div class="col-sm-3 col-md-2 col-xs-3 col-lg-2">
                                                <select class="form-control nav_search_sorter" placeholder="" name="sortType">
                                                    {{#each toysData.sorters.sortTypes}}
                                                        <option value="{{@index}}" {{#compare @index "==" ../toysData.sorters.sortType}}selected{{/compare}}>{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="row search-results">
                                            {{#compare toysData.toysList.length "==" 0}}
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h2>No Toys Found </h2>
                                                </div>
                                            {{/compare}}
                                            {{#each toysData.toysList}}
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="thumbnail">
                                                        <div class="caption-img" style="background: url(/img/toys/{{_id}}_1.jpg);"></div>
                                                        <div class="caption-details">
                                                            <h3>{{name}}</h3>
                                                            <span class="price">₹ {{price}}</span>
                                                        </div>
                                                        <a href="/toys/detail?id={{_id}}"><div class="caption-link"><h3>{{short_description}}</h3>
                                                                <h3>
                                                                    Skills Developed :<br>
                                                                    {{#each this.skills}}
                                                                        {{skill}}<br>
                                                                    {{/each}}
                                                                </h3>
                                                        </div></a>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                        <div class="row text-center">
                                            {{#compare toysData.toysList.length "!=" 0}}
                                                <ul style="margin-top : 0px" class="pagination">
                                                    <li class="disabled"><a href="#">Page {{toysData.currentPage}} of {{toysData.noOfPages}}</a></li>
                                                    <li class="{{#compare toysData.currentPage "==" 1}}disabled{{/compare}}"><a href="/toys/search?{{queryParameters}}&offset={{multiply (subtract toysData.currentPage 2) toysData.perPageLimit }}">«</a></li>
                                                        {{#if toysData.noOfPages}} 
                                                            {{#repeat toysData.noOfPages}}
                                                                <li class="{{#compare (add @index 1) "==" toysData.currentPage}}active{{/compare}}"><a href="/toys/search?{{queryParameters}}&offset={{multiply @index toysData.perPageLimit}}">{{add @index 1}}{{#compare (add @index 1) "==" toysData.currentPage}}<span class="sr-only">(current)</span>{{/compare}}</a></li>
                                                                {{/repeat}}<li>

                                                                <li class="{{#compare toysData.currentPage "==" toysData.noOfPages }}disabled{{/compare}}"> <a href="/toys/search?{{queryParameters}}&offset={{multiply toysData.currentPage toysData.perPageLimit}}">»</a></li>
                                                                {{else}}
                                                                    <li class="active"><a href="/toys/serach?q={{queryParameters}}&offset=1">1 <span class="sr-only">(current)</span></a></li>
                                                                    <li class="disabled"> <a href="#">»</a></li>
                                                                {{/if}}
                                                                                                                            </ul>
                                                        {{/compare}}
                                                    </div>
		</div>
    </div> 
    <!-- end:catalogue -->	
	
	<!-- begin:testimoni -->
	<!-- <div id="testimoni">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testimoni-icon"><i class="fa fa-quote-left"></i></div>
					<h3>What Experts Say?</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="testi" class="carousel slide" data-ride="carousel">
				      <div class="carousel-inner">
				        <div class="item active">
				           <p class="testimoni-item">Toys are children's words and play is their language.</p>
							<h4>&#8212; GARRY L. LANDRETH, Play Therapy: The Art of the Relationship &#8212;</h4>
				        </div>
				        <div class="item">
                            <p class="testimoni-item">Based on my experience and expertise, children’s well-being improves when they are busy and active.  Play allows them to be in a mode of discovery and be free to be who they are at that moment in time.</p>
							<h4>&#8212; Dr. Jane Aronson, Director of Business and Product Development, Planetree &#8212;</h4>
				        </div>
				      </div>
				      <a class="left carousel-control" href="#testi" data-slide="prev">&lsaquo;</a>
				      <a class="right carousel-control" href="#testi" data-slide="next">&rsaquo;</a>
				    </div>
				</div>
			</div>
		</div>
    </div> -->
	<!-- end:testimoni -->
	
	<!-- begin:blog -->
	<!-- <div id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
						<h2>From Blog</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="blog-container">
						<div class="blog-date">
							<i class="fa fa-calendar"></i>
							<span class="meta-date">26</span>
							<span class="meta-month-year">MAR 2014</span>
						</div>
						<h3><a href="single.html">the post title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
						<p><a href="single.html" class="btn btn-green">Read more &raquo;</a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="blog-container">
						<div class="blog-date">
							<i class="fa fa-calendar"></i>
							<span class="meta-date">03</span>
							<span class="meta-month-year">FEB 2014</span>
						</div>
						<h3><a href="single.html">the post title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
						<p><a href="single.html" class="btn btn-green">Read more &raquo;</a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="blog-container">
						<div class="blog-date">
							<i class="fa fa-calendar"></i>
							<span class="meta-date">19</span>
							<span class="meta-month-year">JAN 2014</span>
						</div>
						<h3><a href="single.html">the post title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
						<p><a href="single.html" class="btn btn-green">Read more &raquo;</a></p>
					</div>
				</div>
				
			</div>
		</div>
    </div>-->
	<!-- end:blog -->
