
<div class="heads" style="background: url(/img/img02.jpg) center center;">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2><span>//</span> Recharge Confirmation</h2>
</div>
</div>
</div>
</div>

<div class="page-content">
<div class="container">

<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li class="active">Order</li>
</ol>
</div>
</div>

<div class="row confirm">
<div class="col-md-12">
<h3 class="">Order Summary</h3>
</div>
</div>
<hr>



<div class="row">
<div class="col-md-12">
<table class="table table-hover">
<thead>
      <tr>
        <th>Ordered Date</th>
        <th>Delivery Date</th>
        <th>Return Date</th>
        <th>Toy Name</th>
        <th>Amount Deducted</th>
        <th>Order Status</th>
        <th>Cancel</th>
      </tr>
    </thead>
<tbody >
    {{#each orders}}
      <tr>
        <td>{{lease_start_date}}</td>
        <td>{{delivery_date}}</td>
        <td>{{returned_date}}</td>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td><span class="label label-{{#getClass status}}{{/getClass}}">{{status}}</span></td>
        <td></td>
      </tr>
    {{/each}}
</tbody>
</table>
</div>
</div>

<hr>


</div>
</div>
