
	<!-- begin:heading -->
	<div class="heads" style="background: url(img/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> MemberShip Plans</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
	
	<!-- begin:pricing -->
	<div class="page-content contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
				      <li><a href="/">Home</a></li>
				      <li class="active">Pricing</li>
				    </ol>
				</div>
			</div>
			
			{{#if isLoggedIn}} <div class="row">
				<div class="col-md-12 text-center">
					<h5>Congratulations !!!!!</h5> 
                    <h4>You can rent one toy without paying membership fees within one month.<h4>
					<p></p>
				</div>
			</div> 
            {{/if}}
			
            {{#each plans}}
			<div class="row padd20-top-btm">
				<div class="col-md-12 text-center">
					<h2>Basic Recharges</h2>
				</div>
			</div>
			<div class="row">
            {{#each this}} 
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table">
                <!--<form method="post" action="/subscribePlan?type={{@../index}}&plan={{@index}}">-->
		            <ul class="list-unstyled">
		              <li class="head"></li>
		              <li class="price">&#x20b9; {{amount}} <!-- <p>{{duration}}</p> --><p></p></li>
		              <!-- <li>Get {{points}} points to use</li> -->
		              <li>Rent {{noOfToys}} Toy(s) at a time<p></p> with duration of {{rentDuration}} Days</li>
		              <li>With Deposite of &#x20b9; {{deposit}} <p></p></li>
		              <li class="foot"><a href="/rechargeConfirmation?type={{@../index}}&plan={{@index}}" class="btn btn-green btn-larges" >Recharge Account</a></li>
		            </ul>
                    <!-- </form> -->
		        </div>
        {{/each}}
            </div>
        {{/each}}
	</div>
	<!-- end:pricing -->
</div>
